.FirstSection {
display: flex;
text-align: center;
flex-direction: column;
justify-content: center;
}

body {
    /* background-color: aqua; */
}

.FirstSection {

}

.LabelBoxes {
    margin-bottom: 10px;
}

.NumberBox {
    padding: 0 60px;
}

.description {
   display: flex;
    text-align: center;
   font-style: italic;
   font-size: 20px;
    
}

